body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 90vh;

}

.row{
    display: flex;
    flex: 1 0 auto;
    
}

.column{
    border-style: dotted;
    border-color: thistle;
    flex: 1 0 auto;
}

.filled{
    background-color: black;
}

.settings-footer{
    display: flex;
    justify-content: flex-end;
    width: 90vh;
}

button{
    margin: 16px 0px;
}