.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row{
    
}

.column{
    height: 16px;
    width: 16px;
    border-style: dotted;
    border-color: thistle;
}

.filled{
    background-color: black;
}