.container{
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row{
    
}

.column{
    height: 16px;
    width: 16px;
    background-color: antiquewhite;
}